*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #cd5555;
}
#h1 {
    text-align: center;
    color: #ff2525;
}
.popup{
    background-color: rgba(76, 0, 255, 0.788);
    background-attachment: fixed;
    width: 450px;
    padding: 30px 40px;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: none;
    transition: all 2s;
    text-align: center;
}
.popup button {
    display: block;
    margin: 0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #ffffffff;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup p{
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffffff;
}